@keyframes pulse-link-focus {
    0% {
        color: var(--theme-light);
        border-color: var(--theme-light);
    }
    50% {
        color: var(--theme-accent-light);
        border-color: var(--theme-accent-light);
    }
    100% {
        color: var(--theme-light);
        border-color: var(--theme-light);
    }
}

.projects-directory {
    width: 100%;

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 20px);
        height: 100px;
        font-size: 1.5rem;
        padding: 5px;
        border: 2px solid rgba(0,0,0,0);
    }

    a:hover,
    a:focus {
        animation: pulse-link-focus 5s infinite;
        outline: none;
    }

    img {
        width: auto;
        height: calc(100% - 0px);
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {
    .projects-directory {
        max-width: 768px;
        border-left: 1px dotted var(--white-transparent);
        border-right: 1px dotted var(--white-transparent);
    }
}