header {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 20px;
    z-index: 2;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid var(--white-transparent);
    border-radius: 100vmax;
    background-color: var(--black-transparent);
    backdrop-filter: blur(3px);
}

header ul li {
    width: 100%;
    height: 100%;;
}

header ul li a {
    display: block;
    width: inherit;
    height: inherit;
    text-align: center;
    align-content: center;
    border: 2px solid var(--transparent);
    border-radius: var(--pillify);
}

header ul li a:focus {
    outline: none;
    border-color: var(--theme);
    box-shadow: inset 0 0 5px var(--black);
}

header ul li a[aria-current="page"] {
  background-color: var(--theme-transparent);
  text-shadow: 0 1px 2px var(--black);
}
header ul li a[aria-current="page"]:hover {
    text-decoration: none;
    color: var(--white);
}

main {
    text-align: center;
    margin-top: 20px;
}

footer {
    height: 90px;
}

@media screen and (min-width: 768px) {
    header {
        top: 0;
    }

    main {
        margin-top: 100px;
    }
}