*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --transparent: rgba(0,0,0,0);
    --black: rgb(0,0,0);
    --black-transparent: rgba(0,0,0,0.5);
    --white: rgb(200, 200, 200);
    --white-transparent: rgba(200, 200, 200, 0.5);
    --theme: rgb(100, 90, 190);
    --theme-transparent: rgba(100, 90, 190, 0.5);
    --theme-light: rgb(150, 145, 230);
}

body {
    background-color: rgb(0,0,0);
}

h1, h2, h3, h4, h5, h6,
p, a {
    font-family: sans-serif;
    color: var(--white);
    text-decoration: none;
}

h1, h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8rem;
}

a:hover {
    text-decoration: underline;
    color: var(--theme);
}

li {
    list-style: none;
}