*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --transparent: rgba(0,0,0,0);
    --black: rgb(0,0,0);
    --black-transparent: rgba(0,0,0,0.5);
    --white: rgb(200, 200, 200);
    --white-transparent: rgba(200, 200, 200, 0.5);
    --theme: rgb(100, 90, 190);
    --theme-transparent: rgba(100, 90, 190, 0.5);
    --theme-light: rgb(150, 145, 230);
    --theme-accent: rgb(190, 90, 165);
    --theme-accent-transparent: rgba(190, 90, 165, 0.5);
    --theme-accent-light: rgb(240, 140, 205);


    --font-sans: "Almendra";
    --font-serif: "Faculty Glyphic", sans-serif;

    --pillify: 100vmax;
    --box-shadow: 0 2px 4px var(--black-transparent);
    --box-shadow-pressed: inset 0 2px 4px var(--black-transparent);
    --footer-height: 200px;
}

body {
    position: relative;
    background: var(--black);
    min-height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-family: var(--font-sans);
}

p, a, figcaption {
    font-family: var(--font-serif);
}

h1, h2, h3, h4, h5, h6,
p, a {
    color: var(--white);
    text-decoration: none;
}

h1, h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8rem;
}

a:hover {
    text-decoration: underline;
    color: var(--theme);
}

li {
    list-style: none;
}

@media screen and (min-width: 768px) {
    :root {
        --footer-height: 100px;
    }
}