.pooraat-symbol-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
}

.image-card {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.image-card img {
    position: relative;
    width: inherit;
    height: inherit;
}

.image-card h3 {
    position: absolute;
    z-index: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.image-card a {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    border: 2px solid var(--white-transparent);
    background-color: var(--black-transparent);
    backdrop-filter: blur(3px);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100vmax;
    box-shadow: 0 2px 4px var(--black-transparent);
    text-shadow: 0 1px 3px var(--black);
}

.image-card h3,
.image-card a {
    opacity: 0;
    transition: all 0.2s ease;
}

.image-card:hover h3,
.image-card:hover a,
.image-card:focus-within h3,
.image-card:focus-within a {
    opacity: 1;
    transition: all 0.2s ease;
}

.image-card a:hover,
.image-card a:focus {
    color: var(--theme-light);
    border-color: var(--theme-light);
    outline: none;
}

.image-card a:active {
    box-shadow: inset 0 2px 4px var(--black-transparent);
}

@media screen and (min-width: 768px) {
    .cards-container {
        flex-direction: row;
    }

    .image-card {
        width: 300px;
    }
}