@keyframes pulse-go-back {
    0% {fill: var(--theme-light); border-color: var(--theme-light);}
    0% {fill: var(--theme-accent-light); border-color: var(--theme-accent-light);}
    100% {fill: var(--theme-light); border-color: var(--theme-light);}
}

.gallery-view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.go-back-button {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--black-transparent);
    backdrop-filter: blur(1px);
    border: 2px solid var(--white);
    fill: var(--white);
    padding: 10px;
    z-index: 1;
}

.go-back-button:hover,
.go-back-button:focus {
    animation: pulse-go-back 5s infinite;
    cursor: pointer;
    outline: none;
}

.gallery-view > h1 {
    display: flex;
    flex-direction: column;
}

.gallery-view > ul {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .go-back-button {
        left: 230px;
    }

    .gallery-view > ul {
        flex-direction: row;
    }
    .gallery-view > h1 {
        flex-direction: row;
    }
    .gallery-view > h1 > span {
        margin: 1rem;
        margin-top: 0;
    }
}