.gallery-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.gallery-view > h1 {
    display: flex;
    flex-direction: column;
}

.gallery-view > ul {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .gallery-view > ul {
        flex-direction: row;
    }
    .gallery-view > h1 {
        flex-direction: row;
    }
    .gallery-view > h1 > span {
        margin: 1rem;
        margin-top: 0;
    }
}