.gallery-view,
.gallery-view > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-view > h1 {
    display: flex;
    flex-direction: column;
}

.gallery-view > h1,
.gallery-view > ul > li {
    margin-top: 30px;
    width: 100vw;
    overflow: scroll;
}

@media screen and (min-width: 1024px) {

    .gallery-view > ul {
        flex-direction: row;
    }
    
    .gallery-view > ul > li {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
}