.gallery-view,
.gallery-view > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-view > h1 {
    display: flex;
    flex-direction: column;
}

.gallery-view > h1,
.gallery-view > ul > li {
    margin: 2vw;
}

@media screen and (min-width: 1024px) {

    .gallery-view > ul {
        flex-direction: row;
    }
    
    .gallery-view > ul > li {
        display: block;
        width: 100%;
        max-width: 50vw;
        margin: 0.5vw;
    }
}