.gallery-card-view {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.use-wide-aspect {
    aspect-ratio: 2/1;
}

.gallery-card-view > figcaption,
.gallery-card-view > a {
    opacity: 0;
    transition: all 0.3s ease;
}
.gallery-card-view:hover > figcaption,
.gallery-card-view:hover > a,
.gallery-card-view:focus-within > figcaption,
.gallery-card-view:focus-within > a {
    opacity: 1;
}

.gallery-card-view > img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: auto;
    aspect-ratio: inherit;
    object-fit: cover;
}

.gallery-card-view > figcaption {
    position: absolute;
    text-align: left;
    padding: 10px;
    top: 0;
    left: 0;
    width: inherit;
    height: auto;
    aspect-ratio: inherit;
    font-family: sans-serif;
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(180deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.gallery-card-view > a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--black-transparent);
    backdrop-filter: blur(2px);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--white-transparent);
    border-radius: var(--pillify);
    box-shadow: var(--box-shadow);
    text-decoration: none;
    transition: all 0.1s ease;
}

.gallery-card-view > a:hover,
.gallery-card-view > a:focus {
    text-decoration: underline;
    color: var(--theme-light);
    border-color: var(--theme-ligght);
    outline: none;
}

.gallery-card-view > a:active {
    box-shadow: var(--box-shadow-pressed);
    transform: translate(0, 2px);
}

@media screen and (min-width: 1024px) {
    .gallery-card-view {
        width: 100%;
        max-width: 25vw;
    }
}